.calculator {
    background-color: black;
    height: 37rem;
    width: 19rem;
    border-radius: 1rem;
    margin-left: 10rem;
}
.calculator button {
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
}

.monitor {
    height: 5rem;
    width: 16rem;
    color: #fff;
    text-align: right;
    font-size: 3rem;
    padding-top: 5rem;
}

.greyButton button {
    position: relative;
    background-color: grey;
    left: 1rem;
    color: #fff;
    margin: 1px;
}

.orangeButton button {
    position: relative;
    top: -4rem;
    left: 14rem;
    background-color: orange;
    display: block;
    margin: 1px;

}
.blackButton button {
    position: relative;
    top: -24rem;
    left: 1rem;
    margin: 1px;
    background-color: rgb(44, 40, 40);
    color: #fff;
}
.nullButton {
    width: 8rem !important;
    text-align: left;
    padding-left: 2rem;
}   

.mr{
    background-color: blue !important;
}